# Python
__pycache__/
*.py[cod]
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Raw / generated audio
data/raw/
data/processed/wet/

# Generated feature datasets
data/processed/features/

# Model checkpoints
models/*.pt
models/*.pth

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db